.vscode/**
.vscode-test/**
out/**
node_modules/**
engine/**
docs/**
models/**
atlas.vsix
install-atlas.bat
install-atlas.ps1
package-vsix.bat
package-vsix.ps1
src/**/*.ts
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
